body {
	background-image: url('../images/bkg.jpg');
	background-repeat: repeat;
	text-align: center;	
	padding-bottom: 50px;
}

header {
	position: relative;
	width: 100%;
	height: auto;
	text-align: center;
}

#logo {
	padding: 35px;
}

#welcomeContainer {
	background: #7a8370;
	margin: 0 210px 60px 210px;
	padding: 60px;
}

h1 {
	font-family: Raleway, sans-serif;
	font-weight: 200;
	-webkit-font-smoothing: antialiased;
	font-size: 3.2em;
	color: #d8d8c0;
	line-height: 1.4em;
	margin-bottom: 25px;
}

#quizContainer {
	background: #7a8370;
	width: 50%;
	height: auto;
	margin: 0px auto;
	padding: 60px 60px 120px 60px;
	position: relative;
}

#poseContainer {
	float: left;
	margin: 0 60px 100px 0px;
	height: 100%;
}

#questionContainer {
	font-family: Raleway, sans-serif;
	font-weight: 200;
	-webkit-font-smoothing: antialiased;
	font-size: 2.2em;
	color: #d8d8c0;
	line-height: 1.4em;
	margin-bottom: 25px;
	text-align: left;
}

ul {
	font-family: Raleway, sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	font-size: 1.2em;
	color: #d8d8c0;
	line-height: 1.6em;
	margin-bottom: 15px;
	text-align: left;
}

#answerOption{
	display: block;
}

#submit, button {
	background: #df8615;
	outline: 0;
	border: 0;
	border-bottom: 6px solid #c77712;
	font-family: Raleway, sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	color: #d8d8c0;
	width: auto;
	padding: 10px 40px;
	margin: 20px 0px;
	cursor: pointer;
	float: left;
}

#submit:hover, button:hover {
	background: #c77712;
}


#result {
	font-family: Raleway, sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	font-size: 1.7em;
	color: #d8d8c0;
	line-height: 1.6em;
	margin-bottom: 15px;
	text-align: left;
}

#answerContainer {
	font-family: Raleway, sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	font-size: 1.2em;
	color: #d8d8c0;
	line-height: 1.6em;
	margin-bottom: 15px;
	text-align: left;
}

#answersCorrect{
	font-family: Raleway, sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	font-size: 1.2em;
	color: #7a8370;
	line-height: 1.6em;
	margin-top: 20px;
}



